





.btn-group {
  display: flex;
  justify-content: space-around;
}

.btn-primary {
  background-color: #DEBDF0;
  color: black;
  border: none;
}

.btn-primary:active {
  background-color: #DEBDF0;
}



.envios {
  text-align: center;
  font-size: 10px;
  font-family: roboto;
  color: #BBBB2A;
}

.section1 {
  display: block;
  margin: auto;
  border-radius: 20px;
}

.section2 {
  text-align: center;
  margin-top: 20px;
  font-size: 10px;
  font-family: roboto;
}

hr {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel {
  max-width: 600px;
  margin: auto;
  background-color: #DEBDF0;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-item {
  font-size: 30px;
  font-family: sans-serif;
}

.title2 {
  font-size: 30px;
  text-shadow: 2px 2px #DEBDF0;
}

.title2 {
  text-align: center;
}

.title3 {
  text-align: center;
}

body {
  background-color: ghostwhite;
}

.form_register {
  width: 400px;
  background-color: #DEBDF0;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form_register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-family: "calibri";
  font-size: 18px;
}

.form_register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form_register a {
  color: white;
  text-decoration: none;
}

.form_register a:hover {
  color: white;
  text-decoration: underline;
}

.form_register .botons {
  width: 100%;
  background: ghostwhite;
  border: none;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

@media screen and (max-width: 480px) {
  #grid_container {
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  header {
    grid-area: header;
    background-color: #DEBDF0;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
    background-color: #DEBDF0;
  }
  body {
    min-height: 100vh;
  }
  h1 {
    font-size: 20px;
    background-color: #DEBDF0;
    font-family: roboto;
    text-align: center;
  }
  .logo {
    display: none;
  }
  ul {
    display: none;
  }
  .btn-group {
    display: flex;
    justify-content: space-around;
  }
  .btn-primary {
    background-color: #DEBDF0;
    color: black;
    border: none;
  }
  .btn-primary:active {
    background-color: #DEBDF0;
  }
  .banner {
    width: 410px;
    height: 150px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    display: block;
  }
  .envios {
    text-align: center;
    font-size: 10px;
    font-family: roboto;
    color: #BBBB2A;
  }
  .section1 {
    display: block;
    margin: auto;
    border-radius: 20px;
  }
  .section2 {
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    font-family: roboto;
  }
  .footer1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: roboto;
  }
}
@media screen and (min-width: 481px) {
  #grid_container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header" "main" "footer";
  }
  .btn-group {
    display: none;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
    padding-top: 20px;
    font-family: roboto;
  }
  footer {
    grid-area: footer;
    background-color: #DEBDF0;
  }
  .banner {
    justify-content: center;
    margin-left: 15px;
  }
  .container {
    display: flex;
    background-color: #DEBDF0;
  }
  .envios {
    text-align: center;
    font-size: 25px;
    font-family: roboto;
    color: #BBBB2A;
  }
  .section {
    width: 1000px;
    height: 800px;
    background-color: #DEBDF0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-left: 130px;
  }
  .section1 {
    margin-top: 80px;
    margin-right: 10px;
    border-radius: 20px;
    border: 4px solid white;
    margin-top: 100px;
  }
  .section2 {
    font-size: 31px;
  }
  .footer1 {
    display: flex;
    justify-content: space-around;
    background-color: #DEBDF0;
    padding-bottom: 20px;
  }
  .h1 {
    display: flex;
    background-color: #DEBDF0;
    font-size: 50px;
    font-family: roboto;
    align-items: center;
  }
  ul {
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    margin-top: 20px;
    height: 100%;
    font-family: roboto;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .title1 {
    display: flex;
    font-family: roboto;
    font-size: 100px;
    cursor: pointer;
  }
  .title1:hover {
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
  }
}
main {
  margin: 0;
  background-color: ghostwhite;
}

/*# sourceMappingURL=estilos.css.map */
