.rotating-image {
  position: relative; /* asegurarse de que la posición sea relativa */
  transform: translateX(100%);
  animation: aparecer 4s ease-in-out forwards;
}

@keyframes aparecer {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}