.banner{
    justify-content: center;
    
    }

   .envios{
        text-align: center;
        font-size: 25px;
        font-family: roboto;
        color: #BBBB2A;

    }

    .section{
        width: 1000px;
        height: 800px;
        background-color: #DEBDF0;
        border-radius: 50%;
        display: flex;
        justify-content:center;
        text-align: center;
        font-size: 20px;
        margin-left: 130px;
    }

    .section1{
        margin-top: 80px;
       margin-right: 10px;
       border-radius: 20px;
       border: 4px solid white;
       margin-top: 100px;
    }

    .section2{

        font-size: 31px;
    }

    