.animacion {
    animation-name: desaparecer-aparecer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes desaparecer-aparecer {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  
  