hr{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel {
    max-width: 600px;
     margin: auto;
     background-color: #DEBDF0;
     
   }
   
   .carousel-item img {
     max-width: 100%;
     height: auto;
   }
   
   .carousel-item{
    font-size: 30px;
    font-family: sans-serif;
   }

   .title2{
    font-size: 30px;
    text-shadow: 2px 2px #DEBDF0;
}

.title2{
    text-align: center;

}

.title3{
    text-align: center;
}

