@use "./_index.scss";
@use "./_productos.scss";
@use "./_locales.scss";
@use "./_preguntasfrecuentes.scss";
@use "./_contacto.scss";

*{
    padding:0;
    margin: 0;
    border: 0;
}

@media screen and (max-width: 480px) {
    #grid_container {
      height: 20vh;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "main" "footer";
    }
    header {
      grid-area: header;
      background-color: #DEBDF0;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
      background-color: #DEBDF0;
    }
    body {
      min-height: 100vh;
    }



    h1{
        font-size: 10px;
        background-color: #DEBDF0;
        font-family: roboto;
        text-align: center;
       
       }

       
   .logo{
    display: none;
   }

   ul{
    display: none;
   }

   .btn-group{
    display: flex;
    justify-content: space-around;
    
   }

   .btn-primary{
       background-color: #DEBDF0;
       color: black;
       border: none;
   }

   .btn-primary:active{
    background-color: #DEBDF0;
   }
   .envios{
    text-align: center;
    font-size: 10px;
    font-family: roboto;
    color: #BBBB2A;

   }
}
   


  @media screen and (min-width: 481px){

    #grid_container{


        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "header"
        "main"
        "footer";




       }
       .btn-group{
        display: none;
     }

       header{
           grid-area: header;
          

       }

       main{
           grid-area: main;
           padding-top: 20px;
           font-family: roboto;

       }

       .title1 {
        display: flex;
        font-family: roboto;
        font-size: 100px;
        cursor: pointer;
      }
      
      .title1:hover {
        background-color: white;
        border: 5px solid black;
        border-radius: 20px;
      }
       footer{
        grid-area: footer;
        background-color: #DEBDF0;


    }
    .footer1{
        display: flex;
        justify-content: space-around;
        background-color: #DEBDF0;
        padding-bottom: 20px;
    
    
    
    }
}



 main{
    margin: 0;
    background-color:ghostwhite;
}

