@use "./_index.scss";
@use "./_productos.scss";
@use "./_locales.scss";
@use "./_preguntasfrecuentes.scss";
@use "./_contacto.scss";

//---------------------RESET-----------------//
*{
    padding:0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

  }

//---------------------MOBILE--------------------------//
@media screen and (max-width: 480px) {
    #grid_container {
      height: 20vh;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "main" "footer";
    }
    header {
      grid-area: header;
      background-color: #DEBDF0;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
      background-color: #DEBDF0;
    }
    body {
      min-height: 100vh;
    }
    h1{
      font-size: 20px;
      background-color: #DEBDF0;
      font-family: roboto;
      text-align: center;
     
     }
  
  
     .logo{
      display: none;
     }
  
     ul{
      display: none;
     }
  
     .btn-group{
       display: flex;
       justify-content: space-around;
       
      }
  
      .btn-primary{
          background-color: #DEBDF0;
          color: black;
          border: none;
      }
  
      .btn-primary:active{
       background-color: #DEBDF0;
      }
  
      .article {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
      }
      article img {
        max-width: 100%;
        height: auto;
      }
     .envios{
      text-align: center;
      font-size: 10px;
      font-family: roboto;
      color: #BBBB2A;
  
     }
  
     .section2{
      display: block;
      margin: auto;
      border-radius: 20px;
     }
  
     .section3{
      text-align: center;
      margin-top: 20px;
      font-size: 20px;
      font-family: roboto;
     }



   .footer1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: roboto;
 }
}
   
//---------------------------- destop -------------------------------//

  @media screen and (min-width: 481px){

    #grid_container{


        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "header"
        "main"
        "footer";
      }
       .btn-group{
        display: none;
     }

       header{
           grid-area: header;
          

       }

       main{
           grid-area: main;
           padding-top: 20px;
           font-family: roboto;
          

       }

       footer{
        grid-area: footer;
        background-color: #DEBDF0;


    }

    .main{
      justify-content: center;
    }

 

       .article {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      article img {
        max-width: 100%;
        height: auto;
      }
     
      
    .container{
        display: flex;
        background-color: #DEBDF0;
     }

     .envios{
      text-align: center;
      font-size: 25px;
      font-family: roboto;
      color: #BBBB2A;

  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }  

  .section1{
    width: 1000px;
    height: 800px;
    background-color: #DEBDF0;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 20px;
    
   
}

.section2{
  margin-top: 80px;
 margin-right: 10px;
 border-radius: 20px;
 border: 4px solid white;
 margin-top: 100px;
 justify-content: center;
 align-items: center;

}

.section3{
  justify-content: center;
  align-items: center;

  font-size: 31px;
}
      
    .footer1{
        display: flex;
        justify-content: space-around;
        background-color: #DEBDF0;
        padding-bottom: 20px;
     }
     .h1{
        display: flex;
        background-color: #DEBDF0;
        font-size: 50px;
        font-family: roboto;
        align-items: center;
    }
    ul{
        display: flex;
        justify-content: space-around;
        font-size: 35px;
        margin-top: 20px;
        height: 100%;
        font-family: roboto;
    }

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: black;
    }
       .title1 {
        display: flex;
        font-family: roboto;
        font-size: 100px;
        cursor: pointer;
      }
      
      .title1:hover {
        background-color: white;
        border: 5px solid black;
        border-radius: 20px;
      }
      
}



 main{
    margin: 0;
    background-color:ghostwhite;
}

